body,
#app,
pre {
  font-family: 'Roboto', sans-serif !important;
  min-width: 300px;
}

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  width: 90%;
}
